In [1]:
from glob import glob
import pandas as pd
import docx2txt
from win32com import client
import os
from docx import Document 
import PyPDF2
import textract
from pyresparser import ResumeParser
import spacy
import json
import re
from nltk.tokenize import TweetTokenizer
import string
import spacy
import pickle
import random

In [2]:
files = glob("D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\*")

In [3]:
files

['D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Anil kumar.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\AradhanaTripathi[4_0].docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Buddha Vamsi.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\ChinnaSubbarayuduM_Hexaware.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Gopi Krishna_Hexaware.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Hari Krishna M_Hexaware.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Harikrishna Akula_Hexaware.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Hima Mendu_Hexaware.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Himaja G_(Hexaware).docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Internship_Ravali_Musquare Technologies (1).docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Internship_Susovan Bag_Musquare Technologies.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\J. Sumanth Royal_Hexaware.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Jyotiverma_Heaware.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\kamballapradeep.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Madeeswar A_Hexaware.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\MooraboyinaGuravaiah_Hexaware.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Naresh Babu Cherukuri_Hexaware.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Nazeer Basha.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Neeraj Mishra.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\P V Sai Krishna_ Hexaware.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Admin_AnubhavSingh.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Admin_G Ananda Rayudu.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Admin_Gangareddy.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Admin_Murali.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Admin_Priyanka Ramadoss.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Admin_SirazuddinMohammad.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Admin_srinivasarao.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Admin_Varkala Vikas.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Admin_Vinod Akkala.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\PeopleSoft DBA_Ganesh Alladi.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\PeopleSoft DBA_Vivekanand Sayana.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Finance_Arun Venu.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Finance_Pritam Biswas.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft Finance_Rahul Ahuja.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft FSCM_HariNarayana.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft FSCM_Murali.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft FSCM_PriyabrataHota.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft FSCM_R Ahmed.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Peoplesoft FSCM_SUJATHA.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\premsai.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Priyanka L.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\PSyamKumar[2_3].docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Punugoti Swetha_Hexaware.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\RahulM_Hexaware.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Rajupavanakumari[2_10].docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Ramalakshmi K.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\RameshNataru[3_4].docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\RameshP_Hexaware.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React Developer_Deepakreddy.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React Developer_Haripriya.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React Developer_Kamalakar Reddy.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React Developer_Naveen sadhu.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React Developer_PavasGoswami.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React Developer_Pragnya.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React Developer_Sarala Madasu-converted.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React Developer_Thirupathiamma.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React Developer_Vinay Reddy.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React Dev_Krishna Kanth.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React Dev_Krishna Kanth_Musquare Technologies.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React JS Developer_AnjaniPriyadarshini.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React JS Developer_KotaniDurgaprasad[3_1] (1)-converted.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\React JS Developer_Venkatalakshmi (1)-converted.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Reactjs Developer_kambala sai surendra_Musquare Technologies.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Reactjs Developer_M Lokesh Babu_Musquare Technologies.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Reactjs Developer_M Lokesh.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Reactjs Developer_MD Khizaruddin Rauf _Musquare Technologies.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Reactjs Developer_Prabakaran_Musquare Technologies.pdf',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Reactjs Developer_Pranish Sonone_Musquare Technologies.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Reactjs Developer_Ranga Gaganam_Musquare Technologies.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Reactjs Developer_Shaik Abdul Sharuk_Musquare Technologies.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Resume_Subha Santosh_Peoplesoft FSCM.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\ShireeshKumar_Hexaware.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Sri Krishna S_Hexaware.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Srikanth-Hexaware.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\SSKumar_Hexaware.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Tatikonda Kiran Kumar.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Venkateswarlu B_Hexaware.doc',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Vinay Kumar_Hexaware.docx',
 'D:\\dataScience\\projects\\NLP_RESUME_CLASIFICATION\\data_sets\\Resumes\\All resumes\\Vinod B.docx']

In [5]:
def docReader(doc_file_name): 
    ## 1) Initiate an object that interfaces to Word
    word = client.Dispatch("Word.Application")
    word.Visible = False 
    
    ## 2) Open the Word document to read in
    _ = word.Documents.Open(doc_file_name)

    ## 3) Extract the paragraphs and close the connections
    doc = word.ActiveDocument
    paras = doc.Range().text    
    doc.Close()
    word.Quit()
    return paras

In [6]:
data = []
for i in range(len(files)):
    if files[i].endswith('docx'):
        x = docx2txt.process(files[i])
        data.append(x)
    if files[i].endswith('doc'):
        y = docReader(files[i])
        data.append(y)
        [a for a in y.replace('\x07', '\r').split('\r') if a]
    if files[i].endswith('pdf'):
        z = PyPDF2.PdfReader(files[i])
        z1 = ''
        for j in range(len(z.pages)):
            m = z.pages[j].extract_text()
            z1 = z1 + m
        data.append(z1)

In [7]:
len(data)

79

In [8]:
data = pd.DataFrame(data=data,columns=['data'])

In [9]:
data

                                                 data
0   ANIL KUMAR MADDUKURI  \t\t\n\nSQL & MSBI Devel...
1   Aradhana Tripathi\n\n\n\nCurrent Location: Gac...
2   BUDDHA VAMSI                                  ...
3   Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...
4   Name         : Gopi Krishna Reddy\n\n\t\t\t\t ...
..                                                ...
74  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...
75  Career objective\r\t\rA rewarding opportunity ...
76  Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...
77  Vinay kumar .v\nWorkday Functional Consultant\...
78  SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...

[79 rows x 1 columns]

In [10]:
name = []
for i in range(len(files)):
    tem = files[i].split('\\')
    name.append(tem[-1])

In [11]:
names = []
for i in range(len(name)):
    d = name[i].split('.')
    names.append(d[0])

In [12]:
names = pd.DataFrame(data = names,columns=["names"])

In [13]:
df = pd.concat([data,names],axis=1)

In [14]:
df

,data,names
0,ANIL KUMAR MADDUKURI \t\t\n\nSQL & MSBI Devel...,Anil kumar
1,Aradhana Tripathi\n\n\n\nCurrent Location: Gac...,AradhanaTripathi[4_0]
2,BUDDHA VAMSI ...,Buddha Vamsi
3,Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...,ChinnaSubbarayuduM_Hexaware
4,Name : Gopi Krishna Reddy\n\n\t\t\t\t ...,Gopi Krishna_Hexaware
...,...,...
74,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,SSKumar_Hexaware
75,Career objective\r\t\rA rewarding opportunity ...,Tatikonda Kiran Kumar
76,Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...,Venkateswarlu B_Hexaware
77,Vinay kumar .v\nWorkday Functional Consultant\...,Vinay Kumar_Hexaware
78,SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...,Vinod B

## ----------------------------------------------------------------

In [15]:
test = spacy.load('en_core_web_sm')

In [16]:
skills = []
for i in range(len(df.data)):
    ts = test(" ".join(df.data[i].split('\n'))) # we have splitted our data with '\n' and rejoined with space. 
    tt = []
    for ent in ts.ents:
      if ent.label_.upper() == 'ORG':
        tt.append(ent.text)
    skills.append(tt)

In [17]:
df['skills']=0

In [18]:
for i in range(len(df.skills)):
    df.skills[i] = skills[i]

C:\Users\Vinay Sai\AppData\Local\Temp\ipykernel_20540\1437166324.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.skills[i] = skills[i]

In [19]:
df

,data,names,skills
0,ANIL KUMAR MADDUKURI \t\t\n\nSQL & MSBI Devel...,Anil kumar,"[KUMAR, SQL & MSBI Developer \t\t Sum..."
1,Aradhana Tripathi\n\n\n\nCurrent Location: Gac...,AradhanaTripathi[4_0],"[information technology & Service, SQL Databas..."
2,BUDDHA VAMSI ...,Buddha Vamsi,"[Database Engineer, Fluentgrid Limited Visakha..."
3,Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...,ChinnaSubbarayuduM_Hexaware,"[Implementation of ERP, Workday HCM, ETL, Anal..."
4,Name : Gopi Krishna Reddy\n\n\t\t\t\t ...,Gopi Krishna_Hexaware,"[Report Writing, Integration of HCM, Inbound a..."
...,...,...,...
74,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,SSKumar_Hexaware,"[WORKDAY, HCM, FCM, Workday Consultant Pro..."
75,Career objective\r\t\rA rewarding opportunity ...,Tatikonda Kiran Kumar,"[MICROSOFT, Recursive CTE, SQL Server, TCL, Vi..."
76,Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...,Venkateswarlu B_Hexaware,"[Maintaining Workday HCM Reporting and, Integr..."
77,Vinay kumar .v\nWorkday Functional Consultant\...,Vinay Kumar_Hexaware,"[Workday (Core HCM, Supervisory Organization, ..."
78,SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...,Vinod B,"[SQL, SQL, SQL SERVER, Microsoft Business Inte..."

In [20]:
df.drop('data', axis=1, inplace=True)

In [21]:
df

,names,skills
0,Anil kumar,"[KUMAR, SQL & MSBI Developer \t\t Sum..."
1,AradhanaTripathi[4_0],"[information technology & Service, SQL Databas..."
2,Buddha Vamsi,"[Database Engineer, Fluentgrid Limited Visakha..."
3,ChinnaSubbarayuduM_Hexaware,"[Implementation of ERP, Workday HCM, ETL, Anal..."
4,Gopi Krishna_Hexaware,"[Report Writing, Integration of HCM, Inbound a..."
...,...,...
74,SSKumar_Hexaware,"[WORKDAY, HCM, FCM, Workday Consultant Pro..."
75,Tatikonda Kiran Kumar,"[MICROSOFT, Recursive CTE, SQL Server, TCL, Vi..."
76,Venkateswarlu B_Hexaware,"[Maintaining Workday HCM Reporting and, Integr..."
77,Vinay Kumar_Hexaware,"[Workday (Core HCM, Supervisory Organization, ..."
78,Vinod B,"[SQL, SQL, SQL SERVER, Microsoft Business Inte..."


## Exploratory Data Analysis (EDA)

- converting every string into lower case

In [22]:
for i in range(len(df.skills)):
    lower_words=[Text.lower() for Text in df.skills[i]]
    df.skills[i] = lower_words

In [23]:
df.skills[77]

['workday (core hcm, supervisory organization, delegation, cost center',
 'workday functional and integrations',
 'hcm core, compensation',
 'payroll',
 'performance management',
 'user based & job based',
 'matrix and composite',
 'calculated fields',
 'eib',
 'connectors',
 'xml',
 'organization structure & custom objects',
 'supervisory organizations, matrix organizations, compensation',
 'performance management',
 'time management, business process',
 'workday skills                   : reports,',
 'workday business processes',
 'eib',
 'core connector',
 'languages / tools             :',
 'xml',
 'xslt & studio',
 'microsoft',
 'microsoft',
 'microsoft powerpoint',
 'narayana engineering college',
 'eib',
 'template location',
 'document transformation',
 'integration',
 'outbound eib integration',
 'eib',
 'created eib inbound integrations',
 'bank',
 'developed core connector',
 'csv',
 'cr-change requests',
 'eibs',
 'workday hcm',
 'customized',
 'used file layout definition',
 'peoplesoft',
 'developed/modified',
 'ps',
 'ps query',
 'xml',
 'file layout',
 'component interface',
 'ci']

In [24]:
df.skills[77][0]

'workday (core hcm, supervisory organization, delegation, cost center'

In [25]:
for i in range(len(df.skills)):
    ab =[]
    for j in range(len(df.skills[i])):
        jk = re.split(r'[,(\n\t:]', df.skills[i][j]) # splitting the objects using ,,(,\n,\t,:
        ab = jk + ab
    df.skills[i] = ab

In [26]:
df.skills[77]

['ci',
 'component interface',
 'file layout',
 'xml',
 'ps query',
 'ps',
 'developed/modified',
 'peoplesoft',
 'used file layout definition',
 'customized',
 'workday hcm',
 'eibs',
 'cr-change requests',
 'csv',
 'developed core connector',
 'bank',
 'created eib inbound integrations',
 'eib',
 'outbound eib integration',
 'integration',
 'document transformation',
 'template location',
 'eib',
 'narayana engineering college',
 'microsoft powerpoint',
 'microsoft',
 'microsoft',
 'xslt & studio',
 'xml',
 'languages / tools             ',
 '',
 'core connector',
 'eib',
 'workday business processes',
 'workday skills                   ',
 ' reports',
 '',
 'time management',
 ' business process',
 'performance management',
 'supervisory organizations',
 ' matrix organizations',
 ' compensation',
 'organization structure & custom objects',
 'xml',
 'connectors',
 'eib',
 'calculated fields',
 'matrix and composite',
 'user based & job based',
 'performance management',
 'payroll',
 'hcm core',
 ' compensation',
 'workday functional and integrations',
 'workday ',
 'core hcm',
 ' supervisory organization',
 ' delegation',
 ' cost center']

In [27]:
len(df.skills[77])

60

In [28]:
df.isnull().sum()

names     0
skills    0
dtype: int64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   79 non-null     object
 1   skills  79 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

- finding duplicates

In [30]:
from collections import Counter

In [31]:
for i in range(len(df.skills)):
    numbers = df.skills[i]
    counts = dict(Counter(numbers))
    duplicates = {key:value for key, value in counts.items() if value > 1}
    print(duplicates)

{'ssrs': 2, 'ssis': 5, 'ms sql server': 2, 'sql server integration services': 2, 'etl': 2, 'union all': 2}
{'ms sql server': 2, 'roles & responsibilities': 4, 'sql': 4, 'project description': 2, 'athena': 8, 'sas': 4, 'sql database developer': 2}
{'etl': 2, 'pl/sql-oracle': 3, 'oracle': 2, 'ms-sql': 3, 'database engineer': 2}
{'': 2, 'sql': 3, 'created': 3, 'payroll': 2, 'workday hcm': 3, 'eib': 5, 'uat': 2, 'ccw': 2, 'dt': 2, 'workday studio': 2, 'picof': 2, 'etl': 2, 'analysis': 2, ' design': 2, 'xml': 3}
{'xslt': 2, 'xml': 2, 'eib': 3, 'calculated fields': 2}
{'peoplesoft': 4, 'xml': 2, 'eib': 6, 'roles &responsibilities': 2, 'toyota': 7, 'xslt': 2, 'calculated fields': 2, 'hcm': 3, 'job profiles': 2}
{'sqr': 4, 'microsoft': 3, 'sql': 2, 'component interface': 2, 'peoplesoft': 3, 'eib': 9, 'workday report writer': 2, 'xtt': 2, 'core connectors': 3, 'frd': 2, 'hris': 2, 'payroll': 2}
{' hyderabad': 3}
{'xslt': 4, 'eib': 4, 'picof': 2}
{'integration test': 2}
{'css': 3}
{'eib': 3, 'core connector': 2, 'calculated fields': 2, 'xslt': 2, 'xml': 2}
{'education': 2, 'sec': 2, 'job profiles': 2}
{'ssis': 5, 'ssrs': 2, 'ui': 2, 'wells fargo capital finance': 3, 'sql server': 3}
{'informatica': 3, 'etl': 2, 'uat': 3, 'workday studio': 2, 'picof': 2, 'dt': 2, 'eib': 4, 'ccw': 2, 'analysis': 2, ' design': 2, 'xml': 3}
{'': 2, 'xml': 4, 'xslt': 3, 'eib': 8, 'core connectors': 2, 'core connector': 3}
{'xml': 2, 'customized': 2, '\x07thomson reuters corporation': 2, 'eib': 5, 'core connectors': 2, 'xslt': 3, 'calculated fields': 2, 'workday hcm': 2, 'thomson reuters corporation': 2, 'hire': 2}
{'sql': 5, 'developed power bi': 2, 'the users for specific data': 4, 'the power bi online services': 4, 'power bi service': 2, 'sql server': 3, 'power bi desktop': 2, 'power bi': 9, 'kpi': 2}
{'views': 3, 'sql': 5, 'bolt': 5, 'back office legacy transition': 2, 'pl/sql': 4}
{'eib': 4, 'calculated fields': 2}
{'weblogic': 3, 'upgraded people tool 8.53': 2, 'peoplesoft': 8, 'application servers': 2, '': 18, 'pum': 2, 'security teams': 2, 'cpu': 2, 'peoplesoft administration': 2, 'oracle    repository': 2, 'financials': 2, 'peoplesoft hcm': 2, 'shell scripting    application': 2}
{'ddd': 2, 'sys': 2, 'peoplesoft': 13, 'fixes': 3, 'download updates': 2, 'application': 2, 'dpk': 2, 'jdk': 2, 'weblogic': 4}
{'sql': 3, 'peoplesoft administrator/dba\renvironment': 2, 'pum': 2, 'ssl': 2, 'peoplesoft': 3, 'oracle ses': 2, 'application server': 2, '': 2, 'ms-sql server': 2, 'peoplesoft server administration - expertise': 2}
{'performing post': 3, 'pum': 2, 'peoplesoft reporting': 2, 'stat': 2, 'people soft': 3, 'dates  organization  role': 2, 'oracle': 2, 'process': 3, 'application': 3}
{'ppm': 2, 'peoplesoft': 7}
{'peopletools': 2, 'hcm': 3, 'peoplesoft': 7}
{'sysaudit': 6, 'troubleshoot': 5, 'esa': 4, 'hcm': 5, 'elm': 4, 'lintel': 3, 'aix': 3, 'sql': 10, 'addm': 5, 'awr': 5, 'em': 5, 'motioning': 3, 'integration of peoplesoft': 5, 'setup integration broker': 5, 'pia': 9, 'peoplesoft internet architecture': 5, 'hrcs': 2, 'peoplesoft': 26, 'unix & windows 2008 server  64bit  \rdatabase': 2, 'oracle data': 3, 'jolt': 2, 'application servers': 3, 'troubleshoot of data': 2, 'application server domains': 2, 'sqr': 2, 'pum': 4, 'application': 2, 'installed elastic': 2, 'integration broker': 2, 'oracle': 2, 'peoplesoft administrator': 2}
{'sysaudit': 2, 'peoplesoft': 10, 'pum': 5, 'peoplesoft update': 4, 'data migrations': 2, 'project migrations': 2, 'data mover': 2, 'peopletools': 3, 'pia': 2, 'integration broker': 2, 'application server domains': 2}
{'pum': 9, 'peoplesoft': 16, 'sysaudit': 2, 'application': 6, 'unix': 5, 'dev': 7, 'pia': 4, 'people tools version': 5, 'profiles': 4, 'datapump technology': 4, 'peoplesoft refreshes': 5, 'database administration': 3, 'process scheduler & web server': 3, 'rman': 3, 'oracle': 3, 'hcm': 4, 'oracle 10': 2, 'peoplesoft database administrator': 4, 'fscm application': 2, 'table spaces': 2, 'data': 2, 'resetting passwords': 2, 'database security management': 2, ' users': 2, 'upgrading': 3, 'project migration': 2, 'peoplesoft update': 3, ' migrating and patching oracle': 2, 'peoplesoft security': 2}
{'sysaudit': 2, 'peoplesoft': 12, 'application': 2, 'pum': 5, 'peoplesoft update': 4, 'data migrations': 2, 'project migrations': 3, 'data mover': 3, 'peopletools': 3, 'pia': 2, 'oracle weblogic': 2, 'integration broker': 3, 'application server domains': 4, 'data guard': 2, 'hp-ux': 2, 'san information technology solutions pvt. ltd': 2, 'oracle enterprise linux': 4, 'ses': 2, 'hcm': 2}
{'peoplesoft': 32, 'application servers': 6, 'troubleshoot of data': 2, 'application server domains': 5, 'sysaudit': 4, 'pum': 12, 'applied patches': 3, 'download peoplesoft update image': 3, 'fixes': 3, 'download updates': 3, 'data migrations': 4, 'project migrations': 4, 'success  perform remote': 2, 'the reports ran': 3, 'monitoring application': 3, 'application': 4, 'applying patches & fixes': 3, 'handled application management': 3, 'integration broker': 5, 'pia': 4, 'admin/peoplesoft dba                                                     duration                     ': 3, 'red hat': 3, 'weblogic': 4, 'peopletools': 5, 'hcm': 3, '': 3, 'peoplesoft systems administrator': 2, 'nagarjuna university': 2, 'oracle enterprise linux': 5, 'data mover': 2, 'ses': 2, 'peoplesoft update': 3, 'dpk': 2}
{'psquery': 3, 'petco': 2, 'animal supplies': 2, 'peopletools': 3, 'ap': 3, 'the go-live': 2, 'uat': 2, 'gl': 2, 'peoplesoft': 2, '\x07credit suisse group ag': 3, 'mss': 4, 'ps query': 2, 'sqr': 2, 'bi publisher': 2}
{'ibm': 3, 'bi publisher': 3, 'ps query': 5, 'iws': 3, 'sqr': 3, 'peoplesoft': 4, 'team': 3, 'finance': 2, 'hcm': 2}
{'maintaining &': 5, 'uat': 2, 'sit': 2, 'components': 3, ' application engines': 4, 'custom components': 3, 'gbm': 6, 'ps fscm 9.2': 4, 'defect prevention': 2, 'qat': 3, 'data mover': 4, 'data': 3, 'rotary international': 3, 'rotary international infotech private limited': 3, 'international offices': 3, 'evanston': 3, 'integration broker': 3, 'ftp': 2, 'sqr': 2, 'xml publisher': 2, 'workflow notification': 2, 'ps security': 2}
{'oracle': 2, ' windows': 2, 'peoplesoft': 2, 'uat': 2, 'sit': 2, 'design application': 2, 'fdd': 2, 'andhra pradesh': 2}
{'oracle': 2, ' windows': 2, 'peoplesoft': 2, 'uat': 2, 'sit': 2, 'design application': 2, 'fdd': 2, 'andhra pradesh': 2}
{'oracle sql developer  database': 2, 'ps query': 2, 'people tools': 2, 'ps': 2}
{'peoplesoft': 3, 'xml publisher': 2, 'ps query': 2}
{}
{'created constraints': 2, 'sql': 6, 'application': 2, 'integrated simple commerce solution': 4, 'microsoft': 2, 'sql server': 3}
{'sql': 2, 'ssis': 3, 'merge': 2, 'sql server': 2}
{'qa': 2, 'sql server': 2, 'ssis': 3, 'sql': 2, 'etl': 2}
{'domains': 2, 'csv': 4, 'xtt': 2, 'etv': 2, 'core connectors': 2, 'eib': 5, 'created inbound/outbound': 2, 'core connector': 2, 'document transformation': 2, 'fireeye': 3}
{'ps': 2, 'cdk global': 2, 'hcm': 5, 'implementation & support': 2, 'dt': 4, 'peci': 2, 'picof': 5, 'payroll': 3, 'api': 2, 'eib': 5, 'business process': 2, 'wd': 2, 'xslt': 4, 'adp': 2, 'xml': 3}
{'views': 2, 'sql server': 2, 'aetna': 2}
{'ap': 2, 'etl': 2, 'cube': 2, 'aditya birla group': 2, 'sql': 2, 'ssis': 2}
{'trace': 2, 'british gas': 2, 'ssis': 7, 'ssrs': 8, 'sql': 5, 'sql server reporting services': 2, 'sql server integration services': 2}
{'': 14, 'eib': 5}
{'dom': 2, 'ap': 2}
{'css': 3, 'javascript': 2, 'html': 2}
{'javascript': 2, 'hyderabad': 2, 'monarch tractor': 2}
{}
{'kanpur': 2, 'matlab': 2}
{'ui developer': 2}
{'sri sai junior college': 2, 'b.tech': 2, 'css': 2, 'html': 2, 'wesatage': 2}
{'gpa': 3, 'predifast technologies private limited': 2}
{'javascript': 3, 'optimization': 2, 'js developer': 2}
{'github': 2, 'javascript': 5, ' bootstrap': 2, 'css3': 2, 'react js': 2, 'xml': 2}
{'github': 2, 'javascript': 5, ' bootstrap': 2, 'css3': 2, 'react js': 2, 'xml': 2}
{'android': 2, 'the in charge for quality testing': 2, 'working with team in implementing': 2, 'ge': 2, 'css': 2}
{'jquery': 7, 'css3': 4, 'byron': 2, 'javascript': 4, ' bootstrap': 2, 'html5': 2, 'react js': 2}
{'css': 2}
{'pragati engineering college': 2, 'jquery': 2, 'css': 3, 'html': 2, 'github-link': 2, '”https': 2, '//github.com': 2, 'javascript': 2}
{'css': 4, 'javascript': 2}
{'css': 4, 'javascript': 2}
{}
{'xml': 2, 'android': 3, 'css': 2}
{'  ': 4, 'css': 2, 'jr. react developer': 2, 'html5': 2}
{'ec': 2, 'nehru technological university': 2, 'ui developer': 2, 'js developer': 2}
{'frameworks     version control system': 2, 'javascript': 2, 'css3': 2}
{}
{'hris': 2, 'servicenow': 2, 'tachus software solutions': 2, 'uat': 3, 'eib': 2, 'functional regression': 2, 'eron infoways pvt ltd': 2, 'osmania university college of commerce & business management': 2, ' hyderabad': 2}
{'xml': 3, 'eib': 8, 'payroll': 2, 'iam': 2, 'calculated fields': 2, 'xslt': 2, 'workday studio': 2, 'uat': 2, 'supported workday hcm system testing': 2, 'picof': 2}
{'xml': 3, 'picof': 4, 'ccw': 2, 'studio': 2, 'hcm': 4, 'eib': 4, 'wd': 2, 'dt': 2, 'core hcm': 2, 'workday': 2, 'business process': 2}
{'ci': 2, 'file layout': 2, 'peoplesoft': 2, 'ap': 2, 'eib': 6, 'picof': 2, 'xslt': 3, 'calculated fields': 2, 'peci': 4, 'dt': 2, '': 2, 'xml': 2, 'soap': 2, 'core connector': 2, 'hcm': 2}
{}
{'picof': 5, 'eib': 5, ' matrix': 2, 'support &implementation of workday hcm': 2, 'xml': 3, 'payroll': 3, 'hcm': 3, 'aig': 3, 'general insurance': 2, 'workday security': 2, 'workday studio': 2}
{'xml': 3, 'eib': 4, 'microsoft': 2, '': 2, 'performance management': 2, ' compensation': 2}
{'nano bi analytical': 3, 'joins': 2, 'national skill development corporation': 2, 'ssrs': 2, 'ssis': 2, 'sql': 6}

- Removing duplicates

In [32]:
for i in range(len(df.skills)):
    lm = set(df.skills[i])
    df.skills[i] = list(lm)

- checking for duplicates agian

In [33]:
for i in range(len(df.skills)):
    numbers = df.skills[i]
    counts = dict(Counter(numbers))
    duplicates = {key:value for key, value in counts.items() if value > 1}
    print(duplicates)

{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}

In [34]:
df.skills

0     [csv, , aetna, aetna insurance, ms sql server,...
1     [mca, sql server management studio,  union, ms...
2     [school/college  board/university  percentage ...
3     [, project deliverables, workday advanced repo...
4     [workday report writer, csv, schedulers and re...
                            ...
74    [, workday enterprise interface builder, ps qu...
75    [m.com, norton’s hospital, recursive cte, sec...
76    [workday advanced report writer, picof, workda...
77    [csv, , integration, core connector,  compensa...
78    [, excel/flatfile, sql server integration, bac...
Name: skills, Length: 79, dtype: object

In [35]:
print(df.skills[77])

['csv', '', 'integration', 'core connector', ' compensation', 'workday skills                   ', ' supervisory organization', ' delegation', 'created eib inbound integrations', 'time management', 'document transformation', 'performance management', 'workday hcm', 'narayana engineering college', 'developed core connector', ' matrix organizations', 'languages / tools             ', 'connectors', 'outbound eib integration', ' business process', 'workday ', 'ci', 'eibs', 'organization structure & custom objects', 'workday business processes', 'workday functional and integrations', 'microsoft powerpoint', 'microsoft', 'eib', 'xslt & studio', 'ps query', 'customized', 'xml', 'bank', 'developed/modified', 'file layout', 'user based & job based', ' reports', 'matrix and composite', 'ps', 'component interface', 'peoplesoft', 'used file layout definition', 'template location', 'core hcm', ' cost center', 'supervisory organizations', 'calculated fields', 'cr-change requests', 'hcm core', 'payroll']

In [36]:
df

,names,skills
0,Anil kumar,"[csv, , aetna, aetna insurance, ms sql server,..."
1,AradhanaTripathi[4_0],"[mca, sql server management studio, union, ms..."
2,Buddha Vamsi,[school/college board/university percentage ...
3,ChinnaSubbarayuduM_Hexaware,"[, project deliverables, workday advanced repo..."
4,Gopi Krishna_Hexaware,"[workday report writer, csv, schedulers and re..."
...,...,...
74,SSKumar_Hexaware,"[, workday enterprise interface builder, ps qu..."
75,Tatikonda Kiran Kumar,"[m.com, norton’s hospital, recursive cte, sec..."
76,Venkateswarlu B_Hexaware,"[workday advanced report writer, picof, workda..."
77,Vinay Kumar_Hexaware,"[csv, , integration, core connector, compensa..."
78,Vinod B,"[, excel/flatfile, sql server integration, bac..."

In [37]:
df.dtypes

names     object
skills    object
dtype: object

In [38]:
df.describe()

             names                                             skills
count           79                                                 79
unique          79                                                 77
top     Anil kumar  [, css, projects  project #1, php, jquery, car...
freq             1                                                  2